* {
  margin: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 992px) {
  .hdr-div,
  .image-div {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .image-div {
    width: 33%;
  }
}
@media only screen and (max-width: 576px) {
  .smallimage-div {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) {
  .smallimage-div {
    width: 50%;
  }
}

.main-div {
  width: 90%;
  /*height: 200vh;*/

  background-color: white;
  /*margin: 20px 55px;*/
  margin: 5%;
}
header {
  padding: 2%;
}

#hdr-dummy-div {
  width: 15%;
  height: 5vh;
  text-align: center;
  float: left;
}

.hdr-div {
  /*word-spacing: 2vw;*/
  font-size: 2vw;
  text-align: center;
  float: left;
  padding: 2%;

  text-transform: uppercase;
  /*vertical-align: middle;*/
}
.hdr-div:hover {
  background-color: rgba(160, 23, 23, 0.534);
}
/*.hdr-divnew {
  text-align: center;
}
.list {
  float: left;
}*/
#clear-div {
  clear: both;
}

.space-div {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 3rem;
}
.space-para:first-child::first-letter {
  color: chartreuse;
}
.bigimage-div,
.radio-div {
  text-align: center;
  background-size: contain;
  padding: 20px;
}

.image-div {
  float: left;
  text-align: center;

  /*margin: 0px 10px;*/
  padding: 3%;
}
#clear-div1 {
  clear: both;
}
.smallimage-div {
  float: left;

  padding: 10px;
}
.para {
  background-color: green;
  color: white;
  text-align: left;
  width: 100px;
}
.clear-div2 {
  clear: both;
}
